<header class="header">
  <div class="container">
    <div class="nav">
      <div class="logo" routerLink="/home">
        <img src="/assets/logo.svg" alt="logo">
      </div>

      <!-- Buttons when logged in -->
      <ng-container *ngIf="isLoggedIn$ | async; else loggedOut">
        <div class="nav-buttons" style="display: flex; align-items: center; gap: 12px;">
          <button class="btn btn-outline" routerLink="/writePost">Write Post</button>

          <!-- Notifications -->
          <div class="notifications-wrapper" #notifBox>
            <button class="notifications-btn" (click)="toggleNotifications()">
              <mat-icon>notifications</mat-icon>
              <span *ngIf="unreadCount > 0" class="badge">{{ unreadCount }}</span>
            </button>
            <div *ngIf="showNotifications" class="notifications-dropdown">

              <div *ngIf="loadingNotifications" class="notifications-dropdown-item">
                Loading...
              </div>
              <ng-container *ngIf="!loadingNotifications">
                <div *ngFor="let n of notifications" class="notifications-dropdown-item"
                  [class.unread]="n.status === 'UNREAD'" (click)="openNotification(n)">

                  <div class="notif-row">
                    <div class="notif-text">
                      <strong>{{ n.senderUsername }}</strong> — {{ n.content }}
                      <div class="notif-date">{{ n.createdAt | date:'short' }}</div>
                    </div>

                    <button class="notif-toggle" (click)="toggleRead(n, $event)">
                      <mat-icon>
                        {{ n.status === 'READ' ? 'done_all' : 'check' }}
                      </mat-icon>
                    </button>

                  </div>
                </div>

                <div *ngIf="notifications.length === 0" class="notifications-dropdown-item">
                  No notifications
                </div>
              </ng-container>

            </div>

          </div>


          <div class="avatar-wrapper" #profileBox (click)="toggleProfileDropdown()">
            <div class="userinfo">
              <div class="username"> {{ (currentUser$ | async)?.username }}</div>
              <div class="email"> {{ (currentUser$ | async)?.email }}</div>
            </div>
            <ng-container *ngIf="currentUser$ | async as user; else tokenInitial">

              <img *ngIf="user?.avatar; else userInitial" class="avatar avatar-img" [src]="getAvatarUrl(user.avatar)"
                alt="avatar" />
              <ng-template #userInitial>
                <div class="avatar avatar-initial">
                  {{ user?.username?.charAt(0)?.toUpperCase() || 'U' }}
                </div>
              </ng-template>

            </ng-container>

            <ng-template #tokenInitial>
              <div class="avatar avatar-initial">
                {{ getUserInitial() }}
              </div>
            </ng-template>

            <div *ngIf="showProfileDropdown" class="dropdown">
              <!-- <pre>{{ currentUser$ | async | json }}</pre> -->
              <!-- Profile -->
              <span class="dropdown-item btn btn-outline w-full text-left" (click)="goToMyProfile()">
                Profile
              </span>

              <!-- Logout -->
              <span (click)="logout()" class="dropdown-item btn btn-outline w-full text-left">
                Logout
              </span>

              @if ((currentUser$ | async)?.role === 'ADMIN') {
              <span class="dropdown-item btn btn-outline w-full text-left admin-item" routerLink="/admin">
                <mat-icon>admin_panel_settings</mat-icon>
                Admin Panel
              </span>
              }

            </div>

          </div>


        </div>
      </ng-container>

      <!-- Buttons when NOT logged in -->
      <ng-template #loggedOut>
        <div class="nav-buttons">
          <button class="btn btn-outline" routerLink="/login">Login</button>
          <button class="btn btn-outline" routerLink="/register">Register</button>
        </div>
      </ng-template>

    </div>
  </div>
</header>