<div class="editor-wrapper">
  <!-- Banner Upload -->
  <label class="image-upload-box">
    <input type="file" accept="image/*" (change)="onBannerSelected($event)" hidden />

    <ng-container *ngIf="bannerPreview; else placeholder">
      <img [src]="bannerPreview" alt="Banner Preview" class="banner-preview" />
    </ng-container>

    <ng-template #placeholder>
      <span class="placeholder-text">Click or drop Banner here</span>
    </ng-template>

    <!-- Hidden file input for editor images -->
    <input #imageInput type="file" accept="image/*" (change)="onImageSelected($event)" hidden />
    <input #videoInput type="file" accept="video/*" (change)="onVideoSelected($event)" hidden />

  </label>

  <!-- Title -->
  <input type="text" id="title" [(ngModel)]="title" placeholder="Untitled" />

  <!-- Editor -->
  <div class="editor-container">
    <div #editor class="editor"></div>
  </div>

  <!-- Save -->
  <button class="btn-save" (click)="saveContent()">Create Post</button>
</div>