<div class="landing-page">

  <!-- Hero Section -->
  <section class="hero">
    <div class="container">
      <div class="hero-content">
        <h1 class="hero-title">
          <span class="title-small">THE</span>
          <span class="title-large">POSITIVE CORNER</span>
          <span class="title-small">OF THE INTERNET</span>
        </h1>
        <div class="buttomContainer">
          <p class="hero-subtitle">Turning experiences into knowledge.</p>

          <div class="getstarted" routerLink="/register">
            <span class="getstartBtn">Get Started</span>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.5 15L12.5 10L7.5 5" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>